.my-parts {
  width: 206px;
  height: 206px;
  background: burlywood;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 2px, transparent 0),
    linear-gradient(rgb(0, 0, 0) 2px, transparent 0);
  background-size: 50px 50px;
  background-position: 2px 2px;
}

.tile {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  line-height: 45px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  border-color: gold;
  border-width: 2px;
  transition: all 300ms 0s ease;
}
.row1 {
  top: 13px;
}
.row2 {
  top: 63px;
}
.row3 {
  top: 113px;
}
.row4 {
  top: 163px;
}
.col1 {
  left: 13px;
}
.col2 {
  left: 63px;
}
.col3 {
  left: 113px;
}
.col4 {
  left: 163px;
}
.val2 {
  background: beige;
  color: dimgray;
  font-size: 30px;
}

.val4 {
  background: blanchedalmond;
  color: dimgray;
  font-size: 30px;
}
.val8 {
  background: orange;
  color: whitesmoke;
  font-size: 30px;
}
.val16 {
  background: salmon;
  color: whitesmoke;
  font-size: 27px;
}
.val32 {
  background: coral;
  color: whitesmoke;
  font-size: 27px;
}
.val64 {
  background: chocolate;
  color: whitesmoke;
  font-size: 27px;
}
.val128 {
  background: yellow;
  color: lightgray;
  font-size: 23px;
}
.val256 {
  background: yellow;
  color: silver;
  font-size: 23px;
}
.val512 {
  background: yellow;
  color: silver;
  font-size: 23px;
}
.val1024 {
  background: yellow;
  color: silver;
  font-size: 15px;
}
.val2048 {
  background: yellow;
  color: silver;
  font-size: 15px;
}
.val4096 {
  background: red;
  color: whitesmoke;
  font-size: 15px;
}
.val8192 {
  background: red;
  color: whitesmoke;
  font-size: 15px;
}
.val16384 {
  background: red;
  color: whitesmoke;
  font-size: 10px;
}
.val32768 {
  background: red;
  color: whitesmoke;
  font-size: 10px;
}
.val65536 {
  background: red;
  color: whitesmoke;
  font-size: 10px;
}
